<footer id="footer" class="flex justify-around flex-wrap gap-12 text-color bg-gray-200 dark:bg-[#111] w-full py-10 px-6 md:px-10 scroll-mt-14">
  <div class="flex flex-col gap-2 items-center">
    <img src="/assets/profile.webp" alt="Benjamín Guzmán" class="rounded-full w-24 md:w-36 border-gray-400 border-2">
    <p class="text-lg md:text-xl">Benjamín Guzmán</p>
  </div>

  <div class="flex flex-col gap-2 items-center">
    <p class="text-lg md:text-xl font-medium text-center">Social Media</p>
    <app-social-media></app-social-media>

    <p class="text-lg md:text-xl mt-6 font-medium text-center">Email</p>
    <p class="font-medium">bg@benjaminguzman.net</p>
    <a href="footer.component.html" title="GPG Key">
      <img src="/assets/img/tech/gnupg.webp" alt="GPG Key" class="w-8 hover:scale-110">
    </a>
  </div>

  <div class="flex-grow max-w-xl">
    <p class="text-lg md:text-xl font-medium text-center">Contact me</p>
    <form class="flex flex-col gap-8"
          [formGroup]="formGroup"
          (ngSubmit)="onSubmit()"
          data-netlify="true"
          netlify-honeypot="honey"
          name="contact">
      <!-- Name -->
      <div class="flex flex-col">
        <label for="name" class="text-color-dim">Name<sup>*</sup></label>
        <input type="text" id="name" [formControl]="formControls.name" name="name" class="input-form" required placeholder="Irene Adler">
        <p class="text-xs text-red-600 py-1 px-0.5" *ngIf="formControls.name.invalid">{{getErrorMsg(formControls.name, 'name')}}</p>
      </div>

      <!-- Subject -->
      <div class="flex flex-col">
        <label for="subject" class="text-color-dim">Subject<sup>*</sup></label>
        <input type="text" id="subject" [formControl]="formControls.subject" name="subject" class="input-form" required placeholder="I'd like us to work together">
        <p class="text-xs text-red-600 py-1 px-0.5" *ngIf="formControls.subject.invalid">{{getErrorMsg(formControls.subject, 'subject')}}</p>
      </div>

      <!-- Reply to -->
      <div class="flex flex-col">
        <label for="reply-to" class="text-color-dim">Reply to</label>
        <input type="email" id="reply-to" [formControl]="formControls.replyTo" name="reply-to" class="input-form" placeholder="email@example.com">
        <p class="text-xs text-red-600 py-1 px-0.5" *ngIf="formControls.replyTo.invalid">{{getErrorMsg(formControls.replyTo, 'replyTo')}}</p>
      </div>

      <!-- Message -->
      <div class="flex flex-col">
        <label for="message" class="text-color-dim">Message<sup>*</sup></label>
        <textarea id="message" [formControl]="formControls.message" name="message" class="input-form" required placeholder="Hi, I saw your webpage and..."></textarea>
        <p class="text-xs text-red-600 py-1 px-0.5" *ngIf="formControls.message.invalid">{{getErrorMsg(formControls.message, 'message')}}</p>
      </div>

      <!-- Submit -->
      <div class="flex justify-center">
        <button type="submit"
                class="rounded bg-transparent transition-colors border-2 border-black px-3 py-2 text-lg dark:border-white dark:hover:bg-white hover:bg-black dark:hover:text-black hover:text-white disabled:opacity-50"
                *ngIf="formDataStatus !== 'SENT'"
                [disabled]="formDataStatus === 'SENDING'">
          <div *ngIf="formDataStatus === 'SENDING'" class="w-full flex justify-center">
            <svg class="animate-spin h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
          </div>
          <span *ngIf="formDataStatus === 'IDLE' || formDataStatus === 'ERROR'">Submit</span>
        </button>
        <p class="text-center text-red-600 font-medium" *ngIf="formDataStatus === 'ERROR'">Sorry! There was an error, please report it. Details are in console</p>
        <p class="text-center text-green-600 font-medium" *ngIf="formDataStatus === 'SENT'">Your message was sent successfully</p>
      </div>

      <!-- honeypot -->
      <p class="hidden">
        <label>
          Don’t fill this out if you’re human: <input name="honey"/>
        </label>
      </p>
    </form>
  </div>
</footer>
<p class="dark:bg-black text-color w-full text-center p-2">Copyright &copy; 2021-2022. Benjamín Antonio Velasco Guzmán</p>
