<footer class="flex justify-around flex-wrap gap-2 text-color bg-gray-200 dark:bg-[#111] w-full py-4 px-6">
  <div class="flex flex-col justify-center items-center">
    <img src="/assets/profile.png" alt="Benjamín Guzmán" class="rounded-full w-36 border-gray-400 border-2">
    <p>Benjamín Guzmán</p>
  </div>

  <div>
    Social media
  </div>

  <form action="">
    Contact me form
  </form>
</footer>
<p class="dark:bg-black text-color w-full text-center p-2">Copyright &copy; 2021-2022. Benjamín Antonio Velasco Guzmán</p>
