<div class="flex flex-wrap justify-center gap-2">
  <!-- GitHub -->
  <a href="https://github.com/BenjaminGuzman">
    <img src="/assets/img/tech/github-light.webp" alt="GitHub" title="GitHub" class="w-8 hover:scale-110">
  </a>

  <!-- Stack Exchange -->
  <a href="https://stackexchange.com/users/10857896/benjam%c3%adn-guzm%c3%a1n">
    <img src="/assets/img/tech/se.svg" alt="Stack Exchange" title="Stack Exchange" class="w-8 hover:scale-110">
  </a>

  <!-- HackerRank -->
  <a href="https://www.hackerrank.com/guzmanbenjamin">
    <img src="/assets/img/tech/hackerrank.webp" alt="HackerRank" title="HackerRank" class="w-8 hover:scale-110">
  </a>

  <!-- Platzi -->
  <a href="https://platzi.com/p/BenjaminGuzman">
    <img src="/assets/img/tech/platzi.webp" alt="Platzi" title="Platzi" class="w-8 hover:scale-110">
  </a>

  <!-- Medium -->
  <a href="https://medium.com/@GuzmanBenjamin">
    <img src="/assets/img/tech/medium.webp" alt="Medium" title="Medium" class="w-8 hover:scale-110">
  </a>

  <!-- LinkedIn -->
  <a href="https://www.linkedin.com/in/benjam%C3%ADn-antonio-velasco-guzm%C3%A1n-714144192">
    <img src="/assets/img/tech/linkedin.webp" alt="LinkedIn" title="LinkedIn" class="w-8 hover:scale-110">
  </a>
</div>
