.link:not(.link-active):hover:before {
  animation-name: slideLeft;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
}

.link:before {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
}

.link {
  position: relative;
}

@keyframes slideLeft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #menu-sm {
    // override the styles angular puts in the element when an state animation is set
    display: none !important;
  }
}
