<header [@headerAnimation]="headerAnimationState"
        class="w-screen h-14 fixed z-40 flex justify-between px-3 md:px-8 lg:px-12 xl:px-16 glass">
  <div class="flex gap-2 items-center">
    <img src="/assets/profile.webp" alt="Benjamín Guzmán" class="w-10 h-10 rounded-full border-gray-400 border">
    <span class="font-medium text-lg md:text-xl">Benjamín Guzmán</span>
  </div>
  <div class="flex gap-4">
    <div class="hidden md:block">
      <ng-container *ngTemplateOutlet="navRef"></ng-container>
    </div>
    <button (click)="toggleDarkMode()">
      <span class="material-icons material-icons-outlined">{{nextColorModeIcon}}</span>
    </button>
    <button class="block md:hidden" (click)="toggleNavMenu()"> <!-- menu button for small screens -->
      <span class="material-icons material-icons-outlined">{{nextMenuStateIcon}}</span>
    </button>
  </div>
</header>
<div class="w-full h-full z-30 fixed md:hidden gap-4 md:gap-8 items-center pt-14 glass"
     id="menu-sm"
     [@menuAnimation]="menuAnimationState">
  <ng-container *ngTemplateOutlet="navRef"></ng-container>
</div>

<ng-template #navRef>
  <nav class="h-full md:mt-auto flex flex-col md:flex-row md:gap-4 justify-around md:justify-center items-center text-color md:text-lg">
    <a href="#about">About</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#skills">Skills</a>
<!--    <a href="">Medium</a>-->
    <a href="#footer">Contact</a>
  </nav>
</ng-template>
