.link:not(.link-active):hover::before {
  animation-name: slideLeft;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 200ms;
}

.link::before {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
}

.link {
  position: relative;
}

@media (min-width: 768px) {
  #menu-sm {
    // override the styles angular puts in the element when an state animation is set
    display: none !important;
  }
}
