<header [@headerAnimation]="headerAnimationState"
        class="w-screen h-14 fixed z-40 flex justify-between px-3 md:px-8 lg:px-12 xl:px-16 glass">
  <div class="flex gap-2 items-center">
    <img src="/assets/profile.webp" alt="Benjamín Guzmán" class="w-10 h-10 rounded-full border-gray-400 border">
    <span class="font-medium text-lg md:text-xl">Benjamín Guzmán</span>
  </div>
  <div class="flex gap-4">
    <div class="hidden md:block">
      <ng-container *ngTemplateOutlet="navRef"></ng-container>
    </div>
    <button (click)="toggleDarkMode()">
      <span class="material-icons material-icons-outlined">{{nextColorModeIcon}}</span>
    </button>
    <button class="block md:hidden" (click)="toggleNavMenu()"> <!-- menu button for small screens -->
      <span class="material-icons material-icons-outlined">{{nextMenuStateIcon}}</span>
    </button>
  </div>
</header>
<div class="w-full h-full z-30 fixed md:hidden gap-4 md:gap-8 items-center pt-14 glass"
     id="menu-sm"
     [@menuAnimation]="menuAnimationState">
  <ng-container *ngTemplateOutlet="navRef"></ng-container>
</div>

<ng-template #navRef>
  <nav class="h-full md:mt-auto flex flex-col md:flex-row md:gap-6 justify-around md:justify-center items-center text-color md:text-lg">
    <a class="transition-transform transition-colors cursor-pointer link before:bg-gray-700 dark:before:bg-gray-300"
       [ngClass]="{'scale-110 text-green-600 dark:text-green-400 link-active': isFragmentActive('about')}"
       (click)="navigateTo('about')">
      About
    </a>
    <a class="transition-transform transition-colors cursor-pointer link before:bg-gray-700 dark:before:bg-gray-300"
       [ngClass]="{'scale-110 text-green-600 dark:text-green-400 link-active': isFragmentActive('portfolio')}"
       (click)="navigateTo('portfolio')">
      Portfolio
    </a>
    <a class="transition-transform transition-colors cursor-pointer link before:bg-gray-700 dark:before:bg-gray-300"
       [ngClass]="{'scale-110 text-green-600 dark:text-green-400 link-active': isFragmentActive('skills')}"
       (click)="navigateTo('skills')">
      Skills
    </a>
<!--    <a routerLinkActive="text-4xl text-green-600 dark:text-green-400" [routerLinkActiveOptions]="{matrixParams: 'exact', queryParams: 'exact', paths: 'exact', fragment: 'exact'} [skipLocationChange]="true""(click)='navigateToMedium')</a>-->
    <a class="transition-transform transition-colors cursor-pointer link before:bg-gray-700 dark:before:bg-gray-300"
       [ngClass]="{'scale-110 text-green-600 dark:text-green-400 link-active': isFragmentActive('footer')}"
       (click)="navigateTo('footer')">
      Contact
    </a>
  </nav>
</ng-template>
