<p class="text-2xl md:text-3xl text-center text-color mb-2 mt-6 scroll-m-16" id="skills">More about me</p>

<div class="px-6 lg:px-10 mb-10 text-center sans-serif flex flex-col gap-4">
  <p>I like FOSS and the free software movement but I also know it is important and necessary to get paid for your work and not everything can be OSS</p>
  <p>Yes, I have a degree and I am studying to get another one</p>
<!--  <p>I'm nerd 🤓, and I like art and culture</p>-->
</div>

<!--<p>I'm quite nerd 🤓 and I like to read and study not only about CS or DS</p>-->
