<p class="text-2xl md:text-3xl font-bold text-center text-color mb-2 mt-4 scroll-mt-4" id="skills">Main skills and technologies</p>
<p class="text-center text-color sans-serif">Technologies in which I have more experience:</p>
<div class="grid gap-8 items-center grid-cols-1 md:grid-cols-2 xl:grid-cols-3 px-6 lg:px-10 py-8">
  <app-skill title="GNU/Linux" icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" iconType="img">
    <p>I use Fedora as my main OS.</p>
    <p>I've worked with servers with CentOS, Debian and Ubuntu.</p>
  </app-skill>
  <app-skill title="Java" icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" iconType="img">
    <p>It is the first language I learnt in depth.</p>
    <p>I try to keep up with the new features.</p>
  </app-skill>
  <app-skill title="NodeJS" icon="devicon-nodejs-plain colored" iconType="class">
    <p>It is my main language for backend development.</p>
    <p>I usually use it along with NestJS.</p>
  </app-skill>
  <app-skill title="PostgreSQL" icon="devicon-postgresql-plain colored" iconType="class">
    <p>It is what I use for big projects.</p>
    <p>I learnt and practiced database management with it.</p>
  </app-skill>
  <app-skill title="MongoDB" icon="devicon-mongodb-plain colored" iconType="class">
    <p>I've mainly used it to store denormalized data and ML datasets.</p>
  </app-skill>
  <app-skill title="Angular" icon="/assets/img/tech/angular.webp" iconType="img">
    <p>I've built some websites with it.</p>
  </app-skill>
  <app-skill title="Docker" icon="devicon-docker-plain colored" iconType="class">
    <p>I use it to containerize my backend applications.</p>
  </app-skill>
  <app-skill title="Redis" icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redis/redis-original.svg" iconType="img">
    <p>I've use it as cache to provide quick responses.</p>
  </app-skill>
  <app-skill title="Git" icon="devicon-git-plain colored" iconType="class">
    <p>Basic software for any developer.</p>
  </app-skill>
</div>

<p class="text-2xl md:text-3xl font-medium text-center text-color mb-2 mt-6">Other skills and technologies</p>
<div class="grid gap-8 items-center grid-cols-1 md:grid-cols-2 xl:grid-cols-3 px-6 lg:px-10 py-8">
  <app-skill title="C" icon="devicon-c-plain colored" iconType="class">
    <p>I like C to learn and teach how computers really work internally.</p>
    <p>I'm familiar with glibc, I've never worked with WinAPI.</p>
  </app-skill>
  <app-skill title="C++" icon="devicon-cplusplus-plain colored" iconType="class">
    <p>I like to solve programming challenges in C++ as well as Java.</p>
    <p>I'm familiar with C++11</p>
  </app-skill>
  <app-skill title="Go" icon="devicon-go-plain colored" iconType="class">
    <p>I'm learning Go. Actually, I'm currently developing an interesting project with it.</p>
  </app-skill>
  <app-skill title="MySQL" icon="devicon-mysql-plain colored" iconType="class">
    <p>I learnt database fundamentals with it.</p>
  </app-skill>
  <app-skill title="Python" icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" iconType="img">
    <p>I use it mainly for scripts I need to write fast, but also for ML and data science stuff.</p>
  </app-skill>
  <app-skill title="Nginx" icon="devicon-nginx-plain colored" iconType="class">
    <p>I've used it as load balancer, reverse proxy and static content provider.</p>
  </app-skill>
  <app-skill title="CSS3" icon="devicon-css3-plain colored" iconType="class">
    <p>I learnt frontend development using plain CSS.</p>
    <p>Nowadays I mainly use TailwindCSS.</p>
  </app-skill>
  <app-skill title="JavaScript" icon="devicon-javascript-plain colored" iconType="class">
    <p>I learnt frontend and backend development using vanilla JS.</p>
    <p>Nowadays I mainly use Typescript.</p>
  </app-skill>
</div>
