<p class="text-2xl md:text-3xl text-center text-color mb-2 mt-4 scroll-m-16" id="skills">Skills</p>

<p class="text-center text-color">I also know about:</p>

<div class="grid gap-8 items-center grid-cols-1 md:grid-cols-2 xl:grid-cols-3 px-6 lg:px-10 py-8">
  <app-skill title="GNU/Linux" icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" iconType="img">
    <p>I've worked with CentOS, Debian and Ubuntu</p>
    <p>I use Fedora as my main OS</p>
  </app-skill>
  <app-skill title="C" icon="devicon-c-plain colored" iconType="class">
    <p>I like C to learn and teach how computers really work internally</p>
    <p>I'm familiar with glibc, I've never worked with WinAPI</p>
  </app-skill>
  <app-skill title="C++" icon="devicon-cplusplus-plain colored" iconType="class">
    <p>I like to solve programming challenges in C++ as well as Java</p>
    <p>I'm familiar with C++11</p>
  </app-skill>
  <app-skill title="Go" icon="devicon-go-plain colored" iconType="class">
    <p>I'm learning Go, actually I'm developing an interesting project with it</p>
  </app-skill>
  <app-skill title="Hacking" icon="/assets/img/tech/hacking.webp" iconType="img">
    <p>It interest me and I know the basics</p>
    <p>I know more about security than hacking</p>
  </app-skill>
</div>
