<p class="text-2xl md:text-3xl font-bold text-center text-color mb-2 mt-4 scroll-mt-4" id="skills">Main technologies</p>
<p class="text-center text-color sans-serif">Technologies in which I have more experience:</p>
<div class="grid gap-8 items-center grid-cols-1 md:grid-cols-2 xl:grid-cols-3 px-6 lg:px-10 py-8">
  <app-skill title="GNU/Linux" icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" iconType="img">
    <p>Although Fedora used to be my main OS, I currently use Gentoo</p>
    <p>I've worked with CentOS, Debian and Ubuntu servers</p>
  </app-skill>
  <app-skill title="Java" icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" iconType="img">
    <p>It is the first language I learnt in depth</p>
    <p>I try to keep up with the new features</p>
  </app-skill>
  <app-skill title="NodeJS" icon="devicon-nodejs-plain colored" iconType="class">
    <p>It is the main language I use for backend development</p>
    <p>I usually use it along with NestJS</p>
  </app-skill>
  <app-skill title="PostgreSQL" icon="devicon-postgresql-plain colored" iconType="class">
    <p>I've used it for big projects</p>
    <p>I learnt and practiced database management with it</p>
  </app-skill>
  <app-skill title="MongoDB" icon="devicon-mongodb-plain colored" iconType="class">
    <p>I've mainly used it to store denormalized data and ML datasets</p>
  </app-skill>
  <app-skill title="Angular" icon="/assets/img/tech/angular.webp" iconType="img">
    <p>It's my preferred tool for building web pages</p>
  </app-skill>
  <app-skill title="Docker" icon="devicon-docker-plain colored" iconType="class">
    <p>I use it to containerize my backend applications</p>
  </app-skill>
  <app-skill title="Git" icon="devicon-git-plain colored" iconType="class">
    <p>Basic software for any developer</p>
  </app-skill>
  <app-skill title="Go" icon="devicon-go-plain colored" iconType="class">
    <p>I like to develop cli tools and some microservices with Go</p>
  </app-skill>
</div>

<p class="text-2xl md:text-3xl font-medium text-center text-color mb-2 mt-6">Other technologies</p>
<div class="grid gap-8 items-center grid-cols-1 md:grid-cols-2 xl:grid-cols-3 px-6 lg:px-10 py-8">
  <app-skill title="C" icon="devicon-c-plain colored" iconType="class">
    <p>I like C to learn and teach how computers really work internally.</p>
    <p>I'm familiar with glibc. I've never worked with WinAPI.</p>
  </app-skill>
  <app-skill title="C++" icon="devicon-cplusplus-plain colored" iconType="class">
    <p>I like to solve coding challenges in C++ as well as Java and Haskell.</p>
    <p>I'm familiar with C++11.</p>
  </app-skill>
  <app-skill title="Haskell" icon="devicon-haskell-plain colored" iconType="class">
    <p>I like functional programming and it's fun to rack my brains trying to solve coding challenges in Haskell.</p>
  </app-skill>
  <app-skill title="MySQL" icon="devicon-mysql-plain colored" iconType="class">
    <p>I learnt database fundamentals with it.</p>
  </app-skill>
  <app-skill title="Python" icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" iconType="img">
    <p>I use it mainly for scripts I need to write fast, but also for ML and data science stuff.</p>
  </app-skill>
  <app-skill title="Nginx" icon="devicon-nginx-plain colored" iconType="class">
    <p>I've used it as load balancer, reverse proxy and static content provider.</p>
  </app-skill>
  <app-skill title="CSS3" icon="devicon-css3-plain colored" iconType="class">
    <p>I learnt frontend development using plain CSS.</p>
    <p>Nowadays I mainly use TailwindCSS.</p>
  </app-skill>
  <app-skill title="JavaScript" icon="devicon-javascript-plain colored" iconType="class">
    <p>I learnt frontend and backend development using vanilla JS.</p>
    <p>Nowadays I mainly use Typescript.</p>
  </app-skill>
  <app-skill title="Redis" icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redis/redis-original.svg" iconType="img">
    <p>I've mainly used it as cache to provide quick responses</p>
  </app-skill>
</div>

<p class="text-2xl md:text-3xl font-bold text-center text-color mb-2 mt-4 scroll-mt-4">Soft skills</p>
<p class="text-center text-color sans-serif">Some of the soft skills I've acquired through life</p>
<div class="grid gap-8 items-center grid-cols-1 md:grid-cols-2 xl:grid-cols-3 px-6 lg:px-10 py-8">
  <app-skill title="Autodidact" icon="local_library" iconType="material-icon">
    <p>Most of the things I know I learned by myself or by reading books, taking courses, asking for help, etc...</p>
  </app-skill>
  <app-skill title="Leadership" icon="supervisor_account" iconType="material-icon">
    <p>I am a proactive person who seeks to solve things, and I like to motivate others to do the same</p>
  </app-skill>
  <app-skill title="Problem solving" icon="psychology" iconType="material-icon">
    <p>I won't stand idly by. If there is a problem, I will do my best to solve it</p>
  </app-skill>
  <app-skill title="Assertive communication" icon="record_voice_over" iconType="material-icon">
    <p>I know how to both actively listen and express myself appropriately</p>
    <p>I also like to speak in public</p>
  </app-skill>
  <app-skill title="Perfectionist" icon="high_quality" iconType="material-icon">
    <p>I like to do things right</p>
    <p>I like to build robust, useful and durable solutions while meeting deadlines and taking care of myself</p>
  </app-skill>
  <app-skill title="Hacker mindset" icon="psychology_alt" iconType="material-icon">
    <p>I'm really curious and like to learn the deepest details of computing</p>
    <p><span class="font-semibold">When learning</span> I like to reinvent the wheel</p>
  </app-skill>
  <app-skill title="Humbleness" icon="sentiment_satisfied" iconType="material-icon">
    <p>Life and community have shown me how important it is to be humble</p>
  </app-skill>
  <app-skill title="Teamwork" icon="group" iconType="material-icon">
    <p>I'm used to work both in a team and individually</p>
  </app-skill>
</div>
