$borderHeight: 2px;

.fancy-btn-hover:before, .fancy-btn-hover:after {
  content: '';
  height: $borderHeight;
  @apply absolute w-full scale-x-0 transition-transform duration-200;
}

.fancy-btn-hover::before {
  top: -$borderHeight;
}

.fancy-btn-hover::after {
  bottom: -$borderHeight;
}

.fancy-btn-hover {
  @apply relative before:bg-green-600 after:bg-green-600 transition-colors duration-100
    hover:border-transparent;
}

.fancy-btn-hover:hover::before, .fancy-btn-hover:hover::after {
  @apply scale-x-100;
}
