<div class="w-full h-full">
  <app-nav></app-nav>

  <!-- Landing image -->
  <div id="about" class="relative w-full h-screen bg-center bg-cover bg-fixed">
    <div class="absolute w-full h-full bg-black bg-opacity-60"></div>
    <div class="absolute flex flex-col items-center justify-center top-0 bottom-0 left-4 md:left-6 xl:left-8 w-3/5 md:w-2/5 lg:text-lg gap-2 md:gap-4">
      <div class="flex">👋 I'm&nbsp;<h1 class="font-semibold">Benjamín Guzmán</h1></div>
      <p class="text-justify sans-serif">
        I'm a backend developer, lifelong learner, student.
        Started programming in 2017, I have worked on several projects related to various areas of software development, but the things that interest me the most are:
        <br>
        <span class="text-center font-medium">Backend development, security and data science</span>
      </p>
      <app-social-media></app-social-media>
    </div>
  </div>

  <app-portfolio></app-portfolio>

  <app-skills></app-skills>

<!--  <app-about-extra></app-about-extra>-->

  <app-footer></app-footer>
</div>
