<div class="w-full h-full">
  <app-nav></app-nav>

  <!-- Landing image -->
  <div id="presentation-img" class="relative w-full h-screen bg-center bg-cover bg-fixed">
    <div class="absolute w-full h-full bg-black bg-opacity-70"></div>
    <div class="absolute flex flex-col items-center justify-center top-0 bottom-0 left-4 md:left-6 xl:left-8 w-3/5 md:w-2/5 lg:text-lg gap-2 md:gap-4">
      <p>👋 I'm Benjamín Guzmán</p>
      <p>I'm a backend developer, lifelong learner...</p>
      <div class="flex flex-wrap gap-2">
        <a href="https://github.com/BenjaminGuzman">
          <img src="/assets/img/tech/github-light.png" alt="GitHub" title="GitHub" class="w-10">
        </a>
        <a href="https://stackexchange.com/users/10857896/benjam%c3%adn-guzm%c3%a1n">
          <img src="/assets/img/tech/se.svg" alt="Stack Exchange" title="Stack Exchange" class="w-10">
        </a>
        <!-- Medium -->
        <!-- HackerRank -->
        <!-- LinkedIn -->
        <!-- Sona type -->
        <!-- Platzi -->
      </div>
    </div>
  </div>

  <app-portfolio></app-portfolio>

  <app-footer></app-footer>
</div>
