@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Source Code Pro', sans-serif;
}

.text-color {
  @apply text-gray-900 dark:text-gray-100
}

@supports not (backdrop-filter: blur(1px)) {
  /* If the browser doesn't support blur, change the opacity */
  .bg-opacity-95-no-blur {
    --tw-bg-opacity: 0.95 !important;
  }
  .bg-opacity-90-no-blur {
    --tw-bg-opacity: 0.90 !important;
  }
  .bg-opacity-85-no-blur {
    --tw-bg-opacity: 0.85 !important;
  }
  .bg-opacity-80-no-blur {
    --tw-bg-opacity: 0.80 !important;
  }
  .bg-opacity-50-no-blur {
    --tw-bg-opacity: 0.50 !important;
  }
}
