@import "~swiper/scss";
@import "~swiper/scss/navigation";
@import "~swiper/scss/lazy";

:root {
  --swiper-theme-color: rgb(210, 210, 210);
  --swiper-navigation-size: 22px;
}

.swiper-lazy-preloader-green {
  --swiper-preloader-color: rgb(22, 163, 74);
}

html, body {
  font-family: 'Source Code Pro', sans-serif;
}
