@tailwind base;
@tailwind components;
@tailwind utilities;

.sans-serif {
  font-family: 'Poppins', Montserrat, sans-serif;
  /*letter-spacing: 1px;*/
}

.text-color {
  @apply text-gray-900 dark:text-gray-100;
}

.text-color-dim {
  @apply text-gray-600 dark:text-gray-400;
}

.glass {
  @apply backdrop-blur dark:backdrop-blur-lg bg-opacity-80 dark:bg-opacity-50 bg-gray-50 dark:bg-black text-color;
}

.profile-pic {
  @apply border-gray-400 border-2;
}

.max-w-6 {
  max-width: 1.5rem;
}

.form-field:focus-within label {
  @apply font-medium dark:text-green-300 text-green-900 text-opacity-50;
}

.input-form {
  @apply bg-transparent text-color transition-colors px-1 py-3 border-0 border-b-2 focus:ring-0 focus:outline-0 sans-serif
  dark:border-gray-700 dark:focus:border-transparent dark:hover:border-gray-500
  border-gray-400 focus:border-transparent hover:border-gray-500;
  outline: none;
}

.input-form-wrapper {
  @apply relative flex flex-col;
}

.input-form-wrapper::after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  @apply dark:bg-white bg-black;
}

.input-form-wrapper:focus-within::after {
  animation-name: slideLeft;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
}

.input-form::placeholder {
  opacity: 0.6 !important;
}

.dark .input-form::placeholder {
  opacity: 0.4 !important;
}

.submit-btn {
  @apply px-3 py-2 text-lg relative
  rounded-sm bg-transparent border-2 border-black dark:border-white
  active:scale-90 transition-transform disabled:opacity-50;
}

.submit-btn::before {
  content: '';
  width: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  @apply dark:bg-white bg-black;
}

.submit-btn::after {
  content: 'Submit';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  @apply text-green-500 dark:text-green-600;
}

.submit-btn.w-animation:hover::before {
  animation-name: slideCenterVertically;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
}

.submit-btn.w-animation:hover::after {
  visibility: visible;
}

.submit-btn {
  position: relative;
}

@supports not (backdrop-filter: blur(1px)) {
  /* If the browser doesn't support blur, change the opacity */
  .bg-opacity-95-no-blur {
    --tw-bg-opacity: 0.95 !important;
  }
  .bg-opacity-90-no-blur {
    --tw-bg-opacity: 0.90 !important;
  }
  .bg-opacity-85-no-blur {
    --tw-bg-opacity: 0.85 !important;
  }
  .bg-opacity-80-no-blur {
    --tw-bg-opacity: 0.80 !important;
  }
  .bg-opacity-50-no-blur {
    --tw-bg-opacity: 0.50 !important;
  }
  .glass {
    --tw-bg-opacity: 0.85 !important;
  }
}
