<!-- Technology stack -->
<div class="flex flex-wrap items-center justify-center gap-2 my-1">
  <a *ngFor="let tech of projectData.techStack" href="{{tech.url}}" target="_blank">
    <i *ngIf="tech.iconType === 'class'" class="{{tech.icon}}"></i>
    <img *ngIf="tech.iconType === 'img'"
         src="{{tech.icon}}"
         alt="{{tech.name}}"
         title="{{tech.name}}"
         class="max-w-8 w-8"/>
  </a>
</div>

<!-- Image slideshow -->
<!-- onclick: compress the image rotate3d(0, 1, 0, 0deg) -> rotate3d(0, 1, 0, 90deg), expand the info rotate3d(0, 1, 0, 90deg) -> rotate3d(0, 1, 0, 0deg) -->
<div class="relative w-full h-64 rounded-t-xl project">
  <swiper class="w-full h-full" [navigation]="true">
    <ng-template swiperSlide *ngFor="let imgUrl of projectData.imgUrls">
      <div class="w-full h-full bg-cover bg-center rounded-t-xl" style="background-image: url('{{imgUrl}}')"></div>
    </ng-template>
  </swiper>

  <div class="absolute flex flex-col justify-between gap-2 w-full bottom-0 text-center py-1 px-2 glass z-10 rounded-t-xl"
       (click)="toggleDescriptionAnimation()"
       (mouseenter)="descriptionAnimationState = 'open'"
       (mouseleave)="descriptionAnimationState = 'closed'">
    <p class="font-semibold text-base md:text-lg">{{projectData.name}}</p>
    <div class="flex flex-col justify-between items-center gap-3 transition-opacity opacity-0 duration-300 ease-linear"
         [@descAnimation]="descriptionAnimationState"
         (@descAnimation.done)="descriptionAnimationDone($event)"
         #descriptionPanel>
      <p class="text-sm md:text-base">{{projectData.description}}</p>
      <div class="flex flex-wrap gap-x-2 gap-y-1 justify-center text-sm md:text-base">
        <span *ngFor="let tag of projectData.tags">{{tag}}</span>
      </div>
    </div>
  </div>
</div>

<!-- tags -->
<!-- description -->

<!-- links -->
<div class="flex flex-wrap items-center justify-center gap-2 my-1">
  <a *ngFor="let link of projectData.links" href="{{link.url}}" target="_blank">
    <img *ngIf="link.imgUrl"
         src="{{link.imgUrl}}"
         alt="{{link.name}}"
         title="{{link.name}}"
         class="max-w-8 w-8">
    <span *ngIf="!link.imgUrl && link.icon"
          title="{{link.name}}"
          class="material-icons material-icons-outlined text-color">
      {{link.icon}}
    </span>
    <span *ngIf="!link.imgUrl && !link.icon" title="{{link.name}}" class="text-blue-600 underline">{{link.name}}</span>
  </a>
</div>
