<!-- Image slideshow -->
<div class="relative w-full h-64 rounded-t project">
  <swiper class="w-full h-full"
          [navigation]="projectData.imgUrls.length > 1"
          [preloadImages]="false"
          [lazy]="{checkInView: false, loadPrevNext: true}">
    <ng-template swiperSlide *ngFor="let imgUrl of projectData.imgUrls">
      <div class="swiper-lazy w-full h-full bg-cover bg-center rounded-t" dataBackground="{{imgUrl}}">
        <div class="swiper-lazy-preloader swiper-lazy-preloader-green"></div>
      </div>
<!--      <div class="w-full h-full bg-cover bg-center rounded-t" style="background-image: url('{{imgUrl}}')"></div>-->
<!--      <img src="{{imgUrl}}" alt="" class="w-full">-->
    </ng-template>
  </swiper>

  <!-- Expandable div -->
  <div class="absolute flex flex-col justify-between gap-2 w-full bottom-0 text-center py-1 px-2 glass z-10"
       (click)="toggleDescriptionAnimation()"
       (mouseenter)="setDescriptionAnimationState('open')"
       (mouseleave)="setDescriptionAnimationState('closed')">
    <p>
      <span class="font-semibold text-base md:text-lg">{{projectData.name}}</span>
    </p>
    <div class="flex flex-col justify-between items-center gap-3 transition-opacity opacity-0 duration-300 ease-linear"
         [@descAnimation]="descriptionAnimationState"
         (@descAnimation.done)="descriptionAnimationDone($event)"
         #descriptionPanel>
      <span class="text-xs text-center text-opacity-70">{{projectData.years}}</span>
      <p class="sans-serif text-center font-medium">Skills practiced</p>
      <p class="sans-serif text-sm">{{projectData.skills}}</p>
      <!-- links -->
      <div class="flex flex-wrap items-center justify-center gap-2">
        <a *ngFor="let link of projectData.links" href="{{link.url}}" title="{{link.name}}" target="_blank" rel="noopener">
          <img *ngIf="link.iconType === 'img'"
               src="{{link.icon}}"
               alt="{{link.name}}"
               title="{{link.name}}"
               class="max-w-6 w-6"
               width="24"
               height="24"/>
          <i *ngIf="link.iconType === 'class'" class="{{link.icon}} text-2xl"></i>
          <span *ngIf="link.iconType === 'material-icon'" class="material-icons text-2xl">{{link.icon}}</span>
          <span *ngIf="!link.icon" title="{{link.name}}" class="text-blue-600 underline">{{link.name}}</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- project info -->
<div class="flex flex-col gap-y-2 py-2">
  <!-- tags -->
  <div class="flex flex-wrap gap-x-2 gap-y-1 justify-center font-medium text-sm dark:text-blue-400">
    <span *ngFor="let tag of projectData.tags" class="bg-purple-100 dark:bg-black text-color rounded-full px-1.5 py-0.5">{{tag}}</span>
  </div>

  <!-- Technology stack -->
  <div class="flex flex-wrap items-center justify-center gap-2 my-1 flex-grow">
    <a *ngFor="let tech of projectData.techStack" href="{{tech.url}}" target="_blank" rel="noopener">
      <i *ngIf="tech.iconType === 'class'" class="{{tech.icon}} text-2xl"></i>
      <img *ngIf="tech.iconType === 'img'"
           src="{{tech.icon}}"
           alt="{{tech.name}}"
           title="{{tech.name}}"
           class="max-w-6 w-6"
           width="24"
           height="24"/>
    </a>
  </div>

  <!-- Description -->
  <p class="text-color text-center text-sm sans-serif">{{projectData.description}}</p>
</div>
